@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  width: max-content;
  animation: slide 25s linear infinite;
}

.prescription-editor .ck-editor__editable_inline {
  min-height: 650px;
  padding: 24px 28px;
  font-size: 16px;
  line-height: 1.9;
  border: none !important;
  box-shadow: none !important;
}

.prescription-editor .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none !important;
}

.prescription-editor .ck.ck-editor__main > .ck-editor__editable.ck-focused {
  border: none !important;
  box-shadow: none !important;
}