@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-slide {
    animation: slide 40s linear infinite;
  }
}